:root{
    --verde: #3FD278;
    --verde-claro: #4fe042;
    --branco: #FFFFFF;
    --preto: #000000;
}

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
}

body{
    width: 100%;
    height: 100vh;
}

header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 10rem;
    padding-bottom: 0;
    background-color: var(--preto);
    height: fit-content;
}

header>div{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    height: 100px;
}

header>div>nav{
    height: 70%;
}

header>div>.social{
    height: 30%;
}

header>.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-img{
    height: 50px;
    background-color: var(--branco);
}

.social-list{
    color: white;
    display: flex;
    background-color: var(--preto);
    gap: 2rem;
    height: 30%;
}

.social-list>li{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-list{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 3rem;
    background-color: var(--branco);
}

main{
    width: 100%;
    background-color: var(--verde-claro);
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.hero{
    width: 100%;
    position: relative;
    height: 600px;
}

.image-hero-carousel{
    position: absolute;
}

.image-hero-carousel>img{
    width: 100vw;
    height: 100%;
    min-height: 600px;
    max-height: 600px;
}

.fade-green{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-color: var(--verde-claro);
    opacity: 50%;
}

.hero-content{
    width: 100%;
    height: 100%;
    display: flex;
}

.text-content-hero{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.text-content-hero>h1{
    color: white;
    display: flex;
    transform: rotateZ(90deg);
    font-size: 100pt;
}
.text-content-hero>h1>span{
    display: block;
    color: var(--verde-claro);
    transform: rotateX(180deg);
}

.hero-article{
    position: absolute;
    left: 350px;
    width: fit-content;
    font-weight: 700;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.hero-article>.text-cont{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.hero-article>.text-cont>.number{
    font-size: 36pt;
}

.hero-article>.text-cont>.text{
    font-size: 40pt;
    max-width: 50%;
}

.hero-article>.text-cont>.line{
    width: 2px;
    height: 100px;
    background-color: var(--branco);
}

.btn-contact{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    font-size: 14pt;
    font-weight: 500;
    background-color: var(--preto);
    color: white;
}

.carousel-container{
    width: 50%;
    display: flex;
    height: 100%;
    position: relative;
    align-items: center;
    justify-content: flex-end;
}

.carousel-buttons{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-right: 4rem;
}

.carousel-btn{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--verde-claro);
    cursor: pointer;
}

.about-class{
    margin: 4rem 0;
    width: 80%;
    align-self: flex-end;
    background-image: url('./anexos/about-bg.jpg');
    height: fit-content;
    background-size: cover;
}

.text-content-about{
    padding: 3rem 0;
    padding-left: 3rem;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    color: white;
}

.text-content-about>.text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    text-align: justify;
}

.text-content-about>.line{
    width: 2px;
    height: 100px;
    background-color: var(--branco);
}

.text-content-about>.btn-read{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    font-size: 14pt;
    font-weight: 500;
    background-color: var(--preto);
    color: white;
    box-shadow: 0 0 10px var(--verde);
}

.classes-videos{
    width: 100%;
    padding: 0 10rem;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    gap: 5rem;
    margin-bottom: 4rem;
}

.text-videos-classes{
    width: 70%;
    color: var(--branco);
    align-self: flex-start;
    font-weight: 600;
}

.text-videos-classes>h1{
    color: var(--preto);
    font-weight: 800;
}

.videos-cards{
    display: flex;
    width: 100%;
    gap: 0.5rem;
}

.card-video{
    width: 50%;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 1rem;
}

.video-cont{
    display: flex;
}

.card-video>.video-cont>h1{
    position: absolute;
    left: 18%;
    color: white;
    bottom: 50px;
    font-size: 50px;
    font-weight: 800;
}

.card-video>.video-cont>img{
    width: 85%;
}

.btn-play-cont{
    height: 100%;
    width: 15%;
    background-color: var(--preto);
    position: relative;
    display: flex;
    justify-content: center;
}

.btn-play{
    width: 60px;
    position: absolute;
    bottom: 50px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    border-radius: 100%;
}

.card-video>button{
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 30px;
    font-size: 12pt;
    font-weight: 500;
    background-color: var(--preto);
    color: white;
}

.carousel-buttons-videos{
    position: absolute;
    right: 25px;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.carousel-buttons-videos>div{
    width: 50px;
    height: 50px;
    background-color: var(--preto);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    gap: 1rem;
}

.carousel-buttons-videos>div:nth-child(2){
    height: 75px;
    width: 75px;
}

.latest-blog{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin-bottom: 4rem;
}

.text-latest-blog{
    width: 100%;
    padding: 0 10rem;
    color: var(--branco);
    align-self: flex-start;
    font-weight: 600;
}

.text-latest-blog>h1{
    color: var(--preto);
    font-weight: 800;
}

.blog-container{
    margin-top: 2rem;
    width: 100%;
    position: relative;
    display: flex;
    gap: 1rem;
    height: 600px;
}

.blog-content{
    width: 50%;
    position: relative;
    background-color: rgb(48, 40, 40);
    color: white;
}

.blog-content>img{
    max-width: 100%;
    height: 300px;
    width: 100%;
}

.blog-content>.date{
    width: 65px;
    height: 65px;
    background-color: var(--verde-claro);
    border-radius: 100%;
    top: calc(50% - 32.5px);
    position: absolute;
    display: flex;
}

.blog-content>.date{
    color: white;
    font-weight: 700;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.blog-content:nth-child(1) > .date {
    right: calc(2rem + 290px);
}

.blog-content:nth-child(2)>.date{
    left: 2rem;
}

.text-content-blog{
    padding-top: 50px;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.text-content-blog>h1{
    font-size: 28pt;
}

.text-content-blog-1{
    position: absolute;
    width: 50%;
    text-align: justify;
    right: 2rem;
    
}

.text-content-blog-2{
    position: absolute;
    width: 50%;
    text-align: justify;
    left: 2rem;
    
}

.text-content-blog>button{
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 30px;
    font-size: 12pt;
    font-weight: 500;
    background-color: var(--preto);
    color: white;
}